<ion-header>
  <ion-navbar primary>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="home">
     <ion-item-group>

      <ion-item-divider light>Main Menu</ion-item-divider>
      <button ion-item>
        <ion-icon name="clipboard" item-left large primary></ion-icon>
        <h2>About</h2>
        <p>เกี่ยวกับโปรแกรม</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
      </button>
      <button ion-item>
        <ion-icon name="megaphone" item-left large teal></ion-icon>
        <h2>Policy</h2>
        <p>ข้อตกลงการใช้งาน</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
      </button>
      <button ion-item>
        <ion-icon name="exit" item-left large secondary></ion-icon>
        <h2>Logout</h2>
        <p>ออกจากระบบ</p>
        <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
      </button>

    </ion-item-group>
</ion-content>
