<!--
  Generated template for the HhcHistoryPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>ประวัติเยี่ยมบ้าน</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  
  <ion-list>
    <ion-list-header>
      ประวัติเยี่ยมบ้าน
    </ion-list-header>
    <button ion-item (click)="showAction(item.id)" *ngFor="let item of histories">
      <h2>วันที่ {{item.dateServ}}</h2>
      <p>เวลา {{item.timeServ}} น.</p>
      <ion-icon *ngIf="isAndroid" item-right name="arrow-forward" light></ion-icon>
    </button>
  </ion-list>

</ion-content>
