
<ion-header>

  <ion-navbar primary>
    <ion-title>Search Patient</ion-title>

    <ion-buttons end (click)="scanBarcode()">
    <button>
      <ion-icon name="barcode"></ion-icon>
    </button>
  </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content>
<ion-searchbar (ionInput)="search($event)" [(ngModel)]="query"></ion-searchbar>

<ion-list no-lines>
  <ion-list-header>
    Result (s)
  </ion-list-header>
  <!--<ion-item *ngIf="!hasPatient">
    ไม่พบรายการ
  </ion-item>-->
  <button ion-item (click)="showAction(item.hash_key)" *ngFor="let item of patients">
    <h2>{{ item.ptname }}</h2>
    <p>อายุ {{item.age}} ปี</p>
    <ion-icon name="arrow-forward" item-right light *ngIf="isAndroid"></ion-icon>
    </button>
</ion-list>

</ion-content>
